<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Div Örneği</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/pc/canli.css">

</head>
<body>

<div class="container-fluid  ">
    <!-- SOL BÖLÜM -->
  <div class="row">
    <div class="col-2 bg-warning  ">iframe</div>


    <!-- ORTA BÖLÜM -->
    <div class="col-8  "   >
      <div class="main">
        <div class="row">
          <!-- 1. Satır -->
          <div class="col-md-6">
            <div class="row">
              <div class="col-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="6" viewBox="0 0 24 6" fill="none">
                  <path d="M21.3333 0.333252H2.66667C1.95942 0.333252 1.28115 0.614203 0.781049 1.1143C0.280952 1.6144 0 2.29267 0 2.99992L0 5.66659H24V2.99992C24 2.29267 23.719 1.6144 23.219 1.1143C22.7189 0.614203 22.0406 0.333252 21.3333 0.333252Z" fill="#EEEEEE"/>
                  </svg>
              </div>
              <div class="col-10 text-start">
                <p>Rusya Liga Pro</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-md-end">
            <p>2.Yarı - 20'</p>
          </div>
        </div>
        <div class="bg-dark p-2 rounded">
          <!-- 2. Satır -->
          <div class="row">
            <div class="col-6 text-start">
              Avrora-Pro
            </div>
            <div class="col-6 text-end">
              0
            </div>
          </div>
          <!-- 3. Satır -->
          <div class="row">
            <div class="col-6 text-start">
              Neva-Pro
            </div>
            <div class="col-6 text-end">
              3
            </div>
          </div>
        </div>
        <!-- 4. Satır -->
        <div class="row pt-3">
          <div class="col">
            <p class="text-transparent">0 : 3, (0:1), (0:2) 20’ 2 Halves of 12 min, 6x6</p>
          </div>
        </div>
      </div>
      


       
        <div class="container-fluid  my-3 ">
            <div class="row second">
                <div class="col-2  ">
                   
                    <img class=" bg-warning p-2 " src="/assets/img/canli/searchnormal1.png" alt="">
                 
                </div>
                <div class="col-2">
                    <img class="  p-2 " src="/assets/img/pc//header/star1.png" alt="">
                </div>
                <div class="col-2">
                    <button class="border-0 border text-white ">Tümü</button>
                </div>
                <div class="col-2">
                    <button class="border-0 border text-white ">Toplamlar</button>
                </div>
                <div class="col-2">
                    <button class="border-0 border text-white ">Handikaplar</button>
                </div>

            </div>
        </div>
        <div class="container-fluid deneme my-3 ">
            <div class="row second">
                <div class="col-2">
                    <button class="border-0 border text-white ">Marketler</button>
                </div>
            </div>
        </div>
        

        <!-- ALT UST -->
        <div class="container-fluid deneme">
            <div class="row">
              <div class="col-md-6 mb-3 ">
                <div class="border p-3  ">
                    <!-- 1.satır -->
                    <div class="row deneme">
                        <div class="col-6 text-start  ">
                            <div class="row">
                                <div class="col-3 text-start items-start ">
                                    <img class="  p-2 " src="/assets/img/pc//header/star1.png" alt="">
                                </div>
                                <div class="col-8 text-start "><span class="text-sm" >Toplam Goller</span></div>
                            </div>
                        </div>
                        <div class="col-6 text-end ">
                            <button class="buttons" ><img src="/assets/img/canli/system-uicons_chain.png" alt=""></button>
                            <button class="buttons" ><img src="/assets/img/canli/dollarcircle.png" alt=""></button>
                            <button class="buttons" ><img src="/assets/img/canli/arrowdown2.png" alt=""></button>

                        </div>
                    </div>
                    <!-- 2.Satır -->
                    <div class="container">
                        <div class="row alt-ust  align-items-center">
                          <div class="col-6">
                            <p class="text-center">Alt</p>
                            <div>
                              
                            </div>
                          </div>
                          <div class="col-6">
                            <p class="text-center">Üst</p>
                          </div>
                        </div>
                      </div>
                    <!-- 3.Satır -->
                    <div class="container">
                        <div class="row   align-items-center">
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                        </div>
                      </div>




                    <!-- 4.Satır -->
                    <div class="container">
                        <div class="row   align-items-center">
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- 5.Satır -->
                    <div class="container">
                        <div class="row   align-items-center">
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>



              <div class="col-md-6 mb-3">
                <div class="border p-3">
                    <!-- 1.satır -->
                    <div class="row">
                        <div class="col-6 text-start  ">
                            <div class="row">
                                <div class="col-3 text-start items-start ">
                                    <img class="  p-2 " src="/assets/img/pc//header/star1.png" alt="">
                                </div>
                                <div class="col-8 text-start "><span class="text-sm" >Toplam Goller</span></div>
                            </div>
                        </div>
                        <div class="col-6 text-end ">
                            <button class="buttons" ><img src="/assets/img/canli/system-uicons_chain.png" alt=""></button>
                            <button class="buttons" ><img src="/assets/img/canli/dollarcircle.png" alt=""></button>
                            <button class="buttons" ><img src="/assets/img/canli/arrowdown2.png" alt=""></button>

                        </div>
                    </div>
                    <!-- 2.Satır -->
                    <div class="container">
                        <div class="row alt-ust  align-items-center">
                          <div class="col-6">
                            <p class="text-center">Alt</p>
                          </div>
                          <div class="col-6">
                            <p class="text-center">Üst</p>
                          </div>
                        </div>
                      </div>
                    <!-- 3.Satır -->
                    <div class="container">
                        <div class="row   align-items-center">
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                        </div>
                      </div>




                    <!-- 4.Satır -->
                    <div class="container">
                        <div class="row   align-items-center">
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- 5.Satır -->
                    <div class="container">
                        <div class="row   align-items-center">
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                                <div class="col-6">3.5</div>
                                <div class="col-6">1.2</div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>

    <!-- SAĞ BÖLÜM -->
    <div class="col-2 bg-danger ">BURASIİFRAME</div>
  </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
