.poker{
    background-color: #16523F ;
}

.center-div{
    background-color: #363636 ;
    width: 25%;
}

.poker-button{
    background-color:#474747 ;
    margin-top: 2%;
    width: 90%;
    border: none;
}