<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/pc/header.css">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="header-container container-fluid items-center align-items-center  ">
        <div class="row">
            <div class="col-3 ">
                <img src="/assets/img/pc/header/logo.png" alt="">
            </div>
            <div class="col-7 mx-auto d-flex align-items-center ">
            <div>
                <img class="ps-21 src="/assets/img/pc/header/notification.png" alt="">
                <img class="ps-1" src="/assets/img/common/Vector 5.png" alt="">
                <img class="ps-1" src="/assets/img/pc/header/star1.png" alt="">
                <img class="ps-1" src="/assets/img/common/Vector 5.png" alt="">
                <img class="ps-1" src="/assets/img/pc/header/setting2.png" alt="">
                <img class="ps-1" src="/assets/img/common/Vector 5.png" alt="">
                <img class="ps-1" src="/assets/img/pc/header/user.png" alt="">
                <img class="ps-1" src="/assets/img/common/Vector 5.png" alt="">
                <img class="ps-1" src="/assets/img/pc/header/ticket.png" alt="">
            </div>
            <div class=" d-flex justify-center align-items-center   " >
                <button class=" para-yatir ms-5  " >
                    <i> <img src="/assets/img/pc/header/dollarcircle.png" alt=""></i> <span class="text-dark para-yazi" >PARA YATIR</span>
                </button>
                <button class=" para-yatir ms-5  " >
                   
                </button>
                <button class=" para-yatir ms-5  " >
                    <span class="text-dark para-yazi" >CÜZDAN BAĞLA</span>
                </button>

                <span class=" ps-5 " > <i> <img src="/assets/img/pc/header/542.123 ₺.png" alt=""> </i> </span>
                
            </div>
               
                
            </div>
            <div class="col-2 items-center container  ">
              
                <img src="/assets/img/common/vector 2.png" alt="">
                <img class=" mx-4  "  src="/assets/img/pc/header/usersquare.png" alt="">
                <img src="/assets/img/pc/header/emojione_flag-for-turkey.png" alt="">
                <span class=" text-white " >TR</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                    <path d="M6.00001 6.19993C5.53335 6.19993 5.06668 6.01993 4.71335 5.6666L0.36668 1.31993C0.173346 1.12659 0.173346 0.806595 0.36668 0.613262C0.560013 0.419928 0.880013 0.419928 1.07335 0.613262L5.42001 4.95993C5.74001 5.27993 6.26001 5.27993 6.58001 4.95993L10.9267 0.613262C11.12 0.419928 11.44 0.419928 11.6333 0.613262C11.8267 0.806595 11.8267 1.12659 11.6333 1.31993L7.28668 5.6666C6.93335 6.01993 6.46668 6.19993 6.00001 6.19993Z" fill="white"/>
                  </svg>
             
            </div>
        </div>
        </div>
    </div>
  </body>
</html>