<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/pc/homepage.css">
  </head>
  <body>
   
    <div class="main-container container-fluid  ">


        <!-- SLIDER -->
        <div class="container-fluid   p-3">
            <!-- SLIDER -->
            <div class="slider-container text-center">
                <div class=" my-3 " >
                    <img src="/assets/img/pc/homepage/image 16.png" alt="">
                </div>
                <div class="slider-buttons p-3 d-inline  rounded-5 px-4 " >
                    <button class=" slider-button-left " > <img src="/assets/img/pc/homepage/arrowcircleleft2.png" alt="">  </button>
                    <span class=" text-white px-3 " >1/4</span>
                    <button class=" slider-button-left "> <img src="/assets/img/pc/homepage/arrowcircleright2.png" alt=""> </button>
                </div>
            </div>
        </div>

        
         <!-- PAY -->
         <div class=" d-flex justify-content-center  " >
            <div class="row">
                <button class=" pay-button " >
            <img src="/assets/img/pc/homepage/image 41.png" alt="">
                </button>
            </div>
        </div>

       
            


        <div class="container mt-5">
            <div class="row">
                <!-- Sol Taraftaki Büyük Div -->
                <div class="col-md-6">
                    <div class="card custom-card text-white">
                        <div class="card-body p-5">
                            <p><span class="text-warning">En geniş bahis</span> seçenekleri ve</p>
                            <p><span class="text-warning">En yüksek oranlar</span> ile</p>
                            <h1>SPOR BAHİSLERİ</h1>
                            <h1><span class="text-warning">GamePro777.com'da</span></h1>
                        </div>
                        <img src="/assets/img/pc/homepage/image 45.png" class="card-img-top" alt="Card Image">
                    </div>
                </div>
                <!-- Sağ Taraftaki Div -->
                <div class="col-md-6">
                    <!-- Üstteki İkili Div -->
                    <div class="row">
                        <div class="col-md-12  mb-3">
                            <div class="card custom-card right-top text-white ">
                                <div class="card-body p-5">
                                    <p>En çok kazandıran</p>
                                    <p><span class="text-warning">Canlı Casino ve Slotlar</span></p>
                                    <button class=" bg-transparent border-warning  text-white px-5 py-3  " >
                                        <span class=" text-warning  " >HEMEN OYNA</span>
                                    </button>
                                </div>
                                <img src="/assets/img/pc/homepage/image 47.png" class="card-img-rigt-top position-absolute bottom-0 end-0"   alt="Card Image">
                            </div>
                        </div>
                    </div>
                    <!-- Altta İkili Div -->
                    <div class="row">
                        <div class="col-md-6  ">
                            <div class="card custom-card text-white">
                                <div class="card-body p-5">
                                    <p>Sanal <span class=" text-warning"> Sporlar </span></p>
                                </div>
                                <img src="/assets/img/pc/homepage/image 48.png"  alt="Card Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card custom-card right-down h-100 text-white">
                                <div class="card-body p-5">
                                    <p>Bet <span class=" text-warning"> Games </span></p>
                                </div>
                                <img src="/assets/img/pc/homepage/image 50.png" class="card-img-down position-absolute bottom-0 end-0"   alt="Card Image" alt="Card Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>