<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Responsive Footer Örneği</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/pc/footer.css">
</head>
<body>

<footer class="container-fluid footer h-100 mt-5">
  <div class="row pt-4 ">
                  <div class="col-md-4 text-center text-md-start ps-5">
                    <h4>GAMEPRO FİRMA BİLGİLERİ</h4>
                    <p><a class=" text-decoration-none text-white  "  href="#">Hakkımızda</a></p>
                    <p><a class=" text-decoration-none text-white  "  href="#">Gizlilik Politikası</a></p>
                    <p><a class=" text-decoration-none text-white  "  href="#">AML Politikası</a></p>
                  </div>
            <div class="col-md-4 text-center text-md-start ps-5">
              <h4>GAMEPRO FİRMA BİLGİLERİ</h4>
              <p><a class=" text-decoration-none text-white  "  href="#">Para Yatırma</a></p>
              <p><a class=" text-decoration-none text-white  "  href="#">Genel Kurallar</a></p>
              <p><a class=" text-decoration-none text-white  "  href="#">Genel Çevrim Kuralları</a></p>
            </div>
      <div class="col-md-4 text-center  ps-5">
        <h4>RİSK BİRİMİ</h4>       
      </div>
      <div class=" d-flex justify-content-center  " >
        <div>
            <img src="/assets/img/pc/footer/image 32.png" alt="">
        </div>
      </div>
  </div>
  
  
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
